*{
    padding: 0px;
    margin: 0px ;

    box-sizing: border-box;
    overflow: hidden;
}


.sidebar{
    position: fixed;
    width: 20%;
    height: 100vh;


    border: 1px solid #888;
    
}
.sidebar-header{
    /*Cor do texto*/
    color:#fff;
    background-color: orangered;

    height: 100px;


    padding: 30px;

    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-slaca{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.img-slaca img{
    height: 50px;
}
.navigation-item{
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #888;
    width: 100%;
    position: relative;
}

.navigation-item:hover{
    background-color: #e07e0798;
    cursor: pointer;
 
}

.navigation-item:hover::after{
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 10px;
    height: 100%;
    background-color: #ff6a00c6;
    transition: .2s all ease;
}

/*Content*/
.box{
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    background-color: #ff6a00c6;
    height: 100px;
}

.box-1{
    width: 700px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-1 h2{
    font-size: 20px;
}
.box-2{
    display: flex;
    align-items: center;
}
.box-3{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#foto-perfil{
    border-radius: 100%;
    height: 60px;
}

#dropdown{
    
    outline: none;
    
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
